.app-container {
  width: 1020px;
  border: 1px none red;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 2rem;
  width: auto;
  background-image: url("./BG.jpg");
  background-size: cover;
  background-position: center;
}

.name-cotainer {
  background-color: white;
  border-radius: 15px;

}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}